<main class="d-flex flex-column align-items-center w-100 flex-grow-1">
  <h1 class="bg-success-subtle p-2 text-center text-success w-100">Iniciar Sesión</h1>
  <form id="loginForm" class="m-3 d-flex flex-column justify-content-evenly flex-wrap align-items-center" style="width: 380px;">
    <input class="m-2 p-2 text-center w-100" type="email" id="email" placeholder="Email" required />
    <input class="m-2 p-2 text-center w-100" type="button" id="reser" value="Reset✌️" required />

    </main>
<script src="/public/scripts/reset.js"></script>